body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.verde {
  color: green;
}

.marron {
  color: burlywood;
}

h1 {
  text-align: center;
}
h2 {
  color: green;
  border-bottom: 1px solid black;
}
h3 {
  color: burlywood;
}
.caja {
  border: 1px solid black;
  padding: 1em;
  background: rgba(65, 65, 65, 0.514);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(254, 254, 254, 1) 22%,
    rgba(223, 223, 223, 1) 60%,
    rgba(237, 237, 237, 1) 100%
  );
}

.cajaPrincipal {
  display: flex;
  width: 900px;
  gap: 2em;
  margin: auto;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}

a {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    176deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.51) 35%,
    rgba(203, 231, 131, 1) 100%
  );
  padding: 0.51em 1em;
  margin: 1em 0;
  text-align: center;
  border: 0.51px solid black;
}

a:hover {
  background-color: burlywood;
}

a:active {
  background-color: burlywood;
}

.pie {
  text-align: center;
  color: rgb(184, 184, 184);
  font-style: italic;
}
.pie > span {
  text-decoration: underline;
}
.pano {
  text-align: center;
}
